<mat-card class="product">
    <mat-card-header>
      <mat-card-title>{{producto.nombre}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://compragamer.net/pga/imagenes_publicadas/{{producto.imagenes.nombre}}-med.jpg" alt="Imagen del Producto">
    <mat-card-content>
      <mat-card-content>Subcategoria: {{producto.id_subcategoria}}</mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <mat-card-subtitle class="product--subtitle">{{producto.precio | currency}}</mat-card-subtitle>
      <button mat-button color="primary" class="product--buy">
        <mat-icon>add_shopping_cart</mat-icon>
        Agregar al carro de compras
      </button>
    </mat-card-actions>
  </mat-card>
  