<mat-card class="product">
    <mat-card-header>
      <div mat-card-avatar class="product--image"></div>
      <mat-card-title>Nombre del Producto</mat-card-title>
      <mat-card-subtitle>Precio: $99.99</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="ruta-de-la-imagen-del-producto.jpg" alt="Imagen del Producto">
    <mat-card-content>
      Descripción del producto: Aquí puedes escribir una breve descripción del producto.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Comprar</button>
      <button mat-button>Detalles</button>
    </mat-card-actions>
  </mat-card>
  