<mat-toolbar class="navbar" color="primary">
  <!-- Menu -->
  <div class="navbar__container-menu">
    <button class="navbar-button--menu" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!-- Title -->
  <div class="navbar__container-title">
    <h2 class="navbar--title">
      COMPRAGAMER
    </h2>
  </div>
  <!-- Cart -->
  <div class="navbar__container-cart">
    <button mat-icon-button class="navbar-button--cart" matBadge="8" matBadgePosition="after" matBadgeColor="warn">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>